    @media only screen and (max-width: 480px) {
        .container {
            display: block !important;
        }

    }


    .container {
        display: flex;
        overflow: auto;
        min-height: 25em;
    }

    .container__half {
        flex: 1;
    }

    a.button1{
        display:inline-block;
        padding:0.2em 1em;
        border:0.1em solid #FFFFFF;
        border-radius:0.5em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.2s;
        background-color:black;
        }
        a.button1:hover{
        color:#000000;
        border:0.1em solid black;
        background-color:#FFFFFF;
        cursor: grab;
        }
        @media all and (max-width:30em){
                 a.button1{
                display:block;
                margin:0.4em auto;
                    }
        }

        #qrContainer {
            position: fixed;
        }

        ol li:hover {
            background-color: #e9e9f9 ;
        }

        #watermark
        {
        position:fixed;
        bottom:15em;
        opacity:0.1;
        z-index:99;
        color:black;
        }
        .uppercase {
            text-transform: uppercase;
        }
        fieldset{
            /* font-size: 20px; */
            /* font-family:'Roboto'; */
            /* font-weight:300; */
            color:rgb(15, 19, 20);
            background-color: rgba(247, 242, 242, 0.9);
            /* opacity:0.5; */
            }
        html{
            background-image: url("/custom/img/background.jpg");
            background-color: #cccccc;
            /* opacity: 0.8; */
            background-repeat: no-repeat;
            /* background-color: rgba(247, 242, 242, 0.8); */
            background-size:cover;
            }
        .customh1{
               background-color:whitesmoke;
               border-radius: 9px;
               padding: 7px;
                }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 1rem;
            }
        .demo{
             display: none;
            }