<!doctype html>
<html>
    <head>
        <title>QrStoreDB</title>
        <meta name="File server" content="File server">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{{ url_for('custom_static_js', filename='qrcode.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('custom_static_js', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('custom_static_css', filename='style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('custom_static_css', filename='hover.min.css') }}"></link>

    </head>
    <body>
    
        <header align='center'>
            <h1><span class="customh1">INVENTORY MANAGEMENT SYSTEM</span></h1>
            <span class="demo">(for DEMO Purpose Only)</span>
        <h3>Get Product Details</h3>
        </header>
            <div class="container">
                <fieldset  class="container__half">
                    <legend class="customh1">Form</legend>
                    <form action="">
                        <label for="id">Unique ID</label>
                        <input list="id_list" name="id" id="id" placeholder="start typing" required="true"> 
                        <datalist id="id_list">
                            {%- for item in arr recursive %}
                                <option value="{{item}}">
                            {%- endfor %}
                        </datalist>
                        <a  class="button1" onClick="genQrCode(this)">Generate QR</a>
                    </form>
                </fieldset>

                <fieldset class="container__half" >
                    <legend class="customh1">QR-Code</legend>
                    <div align="center" id="qrContainer"> </div>
                    <h1 class="demo" id="watermark">DEMO ONLY</h1>
                </fieldset>
            </div>
        <footer align='center'>
        <p class="demo">&copy;Author: codechari</p>
        <p>Designed and developed by <a href="https://codechari.github.io/">codechari.github.io</a></p>
        </footer>
        
    </body>
</html>
