<!doctype html>
<html>
    <head>
        <title>QrStoreDB</title>
        <meta name="File server" content="File server">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{{ url_for('custom_static_js', filename='qrcode.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('custom_static_js', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('custom_static_css', filename='style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('custom_static_css', filename='hover.min.css') }}"></link>

    </head>
    <body>
    
        <header align='center'>
            <h1><span class="customh1">INVENTORY MANAGEMENT SYSTEM</span></h1>
            (for DEMO Purpose Only)
        </header>
            <div>
                <fieldset>
                    <legend class="customh1">Item Details</legend>
                    <ol type="1">
                    {% for item in result[0] %}
                        <li>
                        {% set url_var = result[0][item] %}  
                        {% if item == 'image_url' and url_var != None %}
                            <img src= "{{url_var}}"  width="300" height="300">
                        {% else %}
                            <span class="uppercase">{{namearr.get(item) if namearr.get(item) else item}} </span>: {{result[0][item]}}
                        {% endif %}
                         </li>
                    {% endfor %}
                    </ol>
                </fieldset>
            </div>
        <footer align='center'>
        <p>&copy;Author: codechari</p>
        <p><a href="https://codechari.github.io/">codechari.github.io</a></p>
        </footer>
        
    </body>
</html>
